.callout-section {
  background-image: url("../../images/content-bg.png");
  background-repeat: repeat;
  background-color: gray;
  padding-bottom: 57px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 27px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    border-radius: 3px;

    @media (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    text-shadow: 0 1px 0 #ffffff;
    color: #444444;
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    line-height: 20px;
    margin-bottom: 11px;
  }

  &__descr {
    color: #444444;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: auto;
    }
  }
}
