.header {
  padding-top: 34px;
  background-image: url("../../images/header-bg.png");
  background-repeat: repeat;
  color: var(--color-light-gray);
  background-color: #8D451E;
  width: 100%;
  height: 76vh;
  overflow: hidden;

  &__container {
    height: 100%;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 52px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: "Ronnia", sans-serif;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: -3px;
    margin-right: 20px;
  }

  &__text {
    position: relative;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 11px;

    &::before {
      position: absolute;
      content: "|";
      left: -10px;
    }
  }

  &__content {
    text-align: center;
  }

  &__subtitle {
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 25px;
  }

  &__descr {
    font-size:18px;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto 54px;
  }
}

.nav {

  &__link {
    display: inline-block;

    &--dark {
      background-color: var(--color-dark);
      padding: 6px 10px 6px 10px;
      border-radius: 5px;
    }

    &--drop {
      position: relative;
      padding-right: 24px;

      &::after {
        position: absolute;
        content: "";
        width: 12px;
        height: 8px;
        top: 50%;
        right: 7px;
        font-size: 13px;
        font-weight: 700;
        color: var(--color-dark);
        background-image: url("../../images/drop-arrow-black.png");
        background-position: center;
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }

      &-light::after {
        color: #D7D3CA;
        font-weight: 700;
        background-image: url("../../images/drop-arrow.png");
      }

    }

    & + & {
      margin-left: 15px;
    }
  }
}

.slider__item.slick-slide {
  position: relative;
  width: 400px;
  height: 400px;
  transform: translateY(40px);
  transition: all ease 1s;
}

.slider__item.slick-slide.slick-current {
  width: 480px;
  transform: translateY(15px);
  transition: all ease 1s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.9), 0 10px 10px rgba(0,0,0,0.9);
  z-index: 10;
}

.slick-prev {
  position: absolute;
  left: -70px;
  top: 35%;
}

.slick-next {
  position: absolute;
  right: -70px;
  top: 35%;
}
