* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "MyriadPro", sans-serif;
  font-size: 12px;
  background-color: var(--color-white);
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
  white-space: nowrap;
}

textarea,
button,
input {
  outline: none !important;
  border: none;
}

.site-container {
  overflow: hidden;
}


.visually-hidden {
  @include visually-hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1030px;
}

.col {
  max-width: 320px;
}

.title-h3 {
  color: #333;
  font-size: 13px;
  font-weight: 700;
}

.btn-yellow {
  position: relative;
  background-color: #e9cd6b;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  color: #252525;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  padding: 14px 18px;
  border-radius: 30px;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 100%;
    background-color: rgba(#fff, 0.6);
    transform: translateX(-4em) skewX(-45deg);
  }

  &:hover {
    &:before {
      animation: move-light .6s
    }
  }

  @media (min-width: 1200px) {
    padding: 14px 24px;
  }
}

@keyframes move-light {
  from {
    transform: translateX(-4em) skewX(-45deg);
  }
  to {
    transform: translateX(15em) skewX(-45deg);
  }

}

